.row
  - each character in context.characters
    .col-sm-4
      include _character

  .col-sm-4
    .panel.panel-default.character_launcher
      .panel-heading Or rolleth a new one
      .panel-body
        a.btn.btn-primary(href='/portal/characters/new') 
          i.fa.fa-plus
          | Rolleth anew!
