extends ../layouts/home.jade

block content
  h1 Welcome back.  Login to get slashin' again.

  form.form-horizontal(action="/sign_in", method="post")
    .form-group
      label.control-label.col-sm-2 Email
      .col-sm-10
        input(type="email", name="email")
    .form-group
      label.control-label.col-sm-2 Password
      .col-sm-10
        input(type="password", name="password")
    .form-gorup
      .col-sm-offset-2
        button(type="submit") Continue yer adventure

