extends ../../layouts/app

block content
  ol.breadcrumb
    li
      a(href='/app')
        i.fa.fa-home
        | Home
    li
      a(href='/app/characters')
        i.fa.fa-group
        | Characters
    li: | New Character

  h1 Createth a New Character

  form.form-horizontal(action='/app/characters', method='POST')
    include _form

    .form-group
      .col-sm-offset-2.col-sm-10
        button.btn.btn-primary(type='submit') Create Ye Character
    
