/* line 3, /home/dev/source/teh_codez/nodeslash/app/stylesheets/dummy.less */
.system_message {
  background-color: #EEE;
  padding: 15px;
}
/* line 7, /home/dev/source/teh_codez/nodeslash/app/stylesheets/dummy.less */
.system_message p {
  color: #008000;
}
