extends ../layouts/home

block content

  .container
    h1 Abouteth NodeSlash

    p.pull-right
      img(src="/images/jotun.png")

    p In the interests of you being able to read this page, we'll spare all the broken, twisted, and deranged English.

    p NodeSlash is a fantasy game.  In it you wield swords and maybe cast spells.  What we know for sure is that there will be monsters, loot, and adventure.

    h2 More than just a game

    p But NodeSlash is more than just that.

    p 
      | NodeSlash is the running project used in  
      a(href="http://learnallthenodes.com") Learn All The Nodes
      |, an educational/training series on Node.js.  Learn All The Nodes teaches the viewer how to go from a basic knowledge of JavaScript to being able to deploy applications based on Node.js to production.

    p Learning any new technology is much easier when done in the context of an actual project.  Rather than write up a quick script that shows how to send an email using Node.js-based technologies, Learn All The Nodes shows how to actually connect sending emails into a running application.  This is why NodeSlash is so important.

    p.pull-left
      img(src="/images/lindworm_snake_jonadab_t_01.png")
    
    h2 So, should I play NodeSlash?

    p Yeah!  Despite being an educational tool, NodeSlash is also supposed to be fun.  We can't really know what state of its development you stumbled upon it in, but it is a fully-functioning, if possibly not quite yet feature-rich, game.

    h2 Should I learn Node.js?

    p Heck yeah!
    
    p Although, if you don't yet know JavaScript, we suggest you learn that first.  It would be like trying to do technical writing in English without knowing English yet.  Knowing the base language isn't the same as knowing the advanced skill, but it's rather difficult to practice the advanced skill without the base language.

    p 
      | And if you are ready to learn it, what better resource than 
      a(href="http://learnallthenodes.com") Learn All The Nodes
      | ?

    p 
      | And what better place to start than the very first video, 
      a(href="http://www.learnallthenodes.com/episodes/1-what-is-nodejs") What is Node.js?


