extends ../../layouts/app

block content
  h1 We welcometh you!
  - if (!context.hasCharacters)
    .panel.panel-info
      .panel-heading Ye haveth no characters!
      .panel-body.attention_grabber
        p Hordes such as these shalt trampleth Mayll unless you create a new character and wagest battle.
        p: img(src="/images/misfits.png")
        p 
          a.btn.btn-primary(href="/app/characters/new") 
            i.fa.fa-arrow-right
            |  Createth one now
            i.fa.fa-arrow-left.attention_grabber__arrow_left
  - else
    .panel.panel-primary
      .panel-heading
        h2 To getteth back into ye action, use one of the characters below:
      .panel-body
        include ../characters/_list
