extends ../../layouts/app

block content
  h1 This is the dashboard
  p It is mostly unfunctional right now.
  p This may or may not have something to do with a band of misfits that is roaming the castle.
  p
    img(src="/images/misfits.png")
