nav.navbar.navbar-inverse(role="navigation")
  .navbar-header
    button.navbar-toggle(type="button",data-toggle="collapse",data-target="#main_site_nav")
      span.sr-only Toggle Navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(href="/")
      | NodeSlash

  .collapse.navbar-collapse#main_site_nav
    ul.nav.navbar-nav
      li
        a(href="/about") About


    ul.nav.navbar-nav.navbar-right
      - if (!isAuthenticated)
        li
          a(href="/sign_in") Sign in
        li
          a(href="/sign_up") Sign up
      - else
        li.dropdown
          a(href="#" class="dropdown-toggle" data-toggle="dropdown")
            = currentUser.email
            span.caret
          ul.dropdown-menu(role="menu")
            li
              a(href="/app")
                i.fa.fa-dashboard.fa-fw
                | Ye Dashboard
            li.divider
            li
              a(href="/app/profile")
                i.fa.fa-smile-o.fa-fw
                | Ye Profile
            li
              a(href="/app/billing")
                i.fa.fa-credit-card.fa-fw
                | Ye Billing
            li.divider
            li
              a(href="/sign_out")
                i.fa.fa-sign-out.fa-fw
                |  Signeth Out

