nav.navbar.navbar-inverse(role="navigation")
  .navbar-header
    button.navbar-toggle(type="button",data-toggle="collapse",data-target="#main_site_nav")
      span.sr-only Toggle Navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(href="/")
      | NodeSlash

  .collapse.navbar-collapse#main_site_nav
    ul.nav.navbar-nav
      li
        a(href="/about") About
      - if (!isAuthenticated)
        li
          a(href="/sign_in") Sign in
        li
          a(href="/sign_up") Sign up
      - else
        li
          a(href="/sign_out") Sign out
